<%-include("header") -%>

<div class="outer-container-login">
  <div class="container">

    <h1>Tenant Management System</h1>
    <!-- <div class="container-form"> -->
    <!--  <img class="login-image" src="images/login.svg" alt=""> -->
    <img src="images/logo4.png" class="app-login-img" alt="logo">
    <form class="form-signin" method="POST" action="/">


      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email Address" required
        autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-outline-light btn-block" type="submit">Sign in</button>

    </form>
  </div>
</div>

<%-include("footer") -%>