<%-include("header") -%>
<div class="outer-container">
<div class="main-container">
<h2>Add Bill Details For : <%= tenantName%> (ID: <%=tenantID %>)</h2>


<table class="table table-dark table-hover table-striped table-bordered users-table ">
    <thead class="thead bg-primary">
        <tr>
              
        <th>Month</th>
        <th>Previous Reading</th>
        <th>Current Reading</th>
        <th>Rate/Unit</th>
        <th>Taken On</th>
        <th>Bill</th>
        <th>Status</th>
        
        </tr>
    </thead>
    
    <tbody >
        
       


        
       
    </tbody>
</form>
</table>


</div>
</div>
<%-include("footer") -%>