<%- include("header") -%>
<div class="outer-container-tenant-add-table">
<div class="main-container">

      <form action="tenantAddTable" method="POST">
   <table class="table table-dark table-hover table-striped table-bordered users-table ">
      <thead class="bg-primary">
          <tr>
               <th>Flat No.</th> 
              <th>Name</th>
              <th>Flat Type</th>
              <th>Contact Details</th>
              <th>Starting From</th>
              <th>Agreed Upon Rent</th>
            
          </tr>
      </thead>
<tbody>
<tr>

     <td> <input name="ID" class="form-control" type="number" placeholder="Flat no" required> </td>
     <td> <input name="newTenantName" class="form-control" type="text" placeholder="Name" required > </td>
      <td>   <select class="dropdown form-control" name="newFlatType" required>
         <option value="1 BHK">1 BHK</option>
     
     <option value="2 BHK">2 BHK</option>
     </select>
      </td>
       <td><input name="newContact" class="form-control" type="number" placeholder="Contact No." required> </td>
      
       <td><input name="allocationDate" class="form-control" type="date" placeholder="Date" required></td>
       <td>  <input name="rentAmount" class="form-control" type="number"  placeholder="Amount" required> </td>    
        
    
    </tr>

   </tbody>
   </table>
   <input class="btn btn-md btn-warning add-user" name="submit" type="submit" value="Add Tenant">
</form>
</div>
</div>
   <%- include("footer") -%>