* {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Google Sans", "Roboto", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

input {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}


button a {
  text-decoration: none !important;
  color: black;
}

h2,
h1 {
  color: white;
  font-weight: bolder;


}

nav {
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  box-shadow: 5px 10px 18px #888888;
  width: 100%;
  padding: 0.2rem !important;
}

.app-logo {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

.app-login-img {
  height: 7rem;
  width: 7rem;
  margin-top: 1rem;
}


body {
  text-align: center;

  height: 100vh;
  width: 100vw;
}

.main-container,
.main-container-tenantBillFull {
  width: 100%;
  margin: 0.5% 0 0 0;
  position: absolute;
  z-index: 2;


}



.container {
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: 1% 0 0 8%;
}

.outer-container-login {
  background-image: url("../images/landing.jpg");
  background-position: center;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.outer-container-contact {
  background-image: url("../images/allUsers1.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.outer-container-allusers {
  background-image: url("../images/allUsers1.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.outer-container-tenant-add-table {
  background-image: url("../images/home.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.displayUniqueKey {

  background-image: url("../images/uniqueKey.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}


.deleteWarn {

  background-image: url("../images/deleteWarn.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;


}

.deleteWarn-container {
  width: 50%;
  margin: 12% 0 0 25%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
  padding: 1rem;
}

.deleteWarn-container form {
  margin: 5% 0 0 0;
}

.deleteWarn-container .btn {
  margin-top: 1rem;
}

.displayUniqueKey-container {

  width: 50%;
  margin: 16% 0 0 25%;
  background: transparent;
  position: absolute;
  z-index: 2;
  padding: 1rem;

}

.displayUniqueKey .alert {
  text-align: center;
}


.outer-container-tenantBillFull {
  background-image: url("../images/bill.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.bg-thead {
  background-color: #00BCD4;
}

.outer-container-tenantRent {
  background-image: url("../images/home.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.outer-container-login::after,
.outer-container-allusers::after,
.outer-container-tenantRent::after,
.outer-container-tenant-add-table::after,
.deleteWarn::after,
.outer-container-contact::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

}

.outer-container-tenantBillFull::after,
.displayUniqueKey::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

}






table {
  text-align: center;

}

.allusers-table .edit-user {
  margin-left: 1.5rem;
}

.allusers-table .del-user,
.id-user {
  margin-left: 0.5rem;
}

.del-user-rent {
  margin-left: 1rem;
}

.users-table {
  text-align: center;
}

.users-table .dropdown {
  width: auto;
  display: inline-block;
}

.users-table td,
.users-table th {
  padding: 0.7rem 0.1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 1.5rem auto;
}

.form-contact {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 1.5rem auto;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


.form-contact .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 1rem 0;

}


.form-signin .form-control:focus {
  z-index: 2;
}

.form-contact .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;


}




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer {
  position: static;
  text-align: center;
  z-index: 4;
  color: black;
  height: 100px;
}

.no-spin,
.no-spin:hover,
.no-spin:focus {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}


/* 
.element:hover,
.element:active {
   Change background/text color 
} */
/* 
.element:focus {
   Show outline 
}
 

*/





tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}

tbody {
  display: block;
  overflow: auto;
  table-layout: fixed;
  max-height: 65vh;
}



.reducedDateFont {
  font-size: 0.9rem;
}

input[readonly] {
  cursor: not-allowed;
}